@import '../../custom-theme.scss';

.container {
  width: 80%;
  padding: 60px 20px 20px;
  z-index: 10;
}

.project-tabs {
  margin: auto;
  max-width: 1000px;
}

::ng-deep .project-tabs {
  color: $dark-text !important;
  background-color: $light-background;
}

::ng-deep .theme-alternate .project-tabs {
  color: $light-text !important;
  background-color: $dark-background;
}

.project-content {
  padding: 10px;
}

.thumb {
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding: 10px;
}

