<div fxLayout="row" fxLayoutAlign="center top">
  <div class='container'>
    <mat-tab-group dynamicHeight class="project-tabs mat-elevation-z4">
      <mat-tab *ngFor="let project of projects"
          label="{{project.title}}">
        <div class="project-content">
          <div [innerHTML]="this.bypass(project.content)"></div>
          <h2 *ngIf="project.images && project.images.length > 0">Images</h2>
          <div fxLayout="row" fxLayout="space-between center">
            <img *ngFor="let image of project.images" 
              class="thumb"
              src="assets/img/{{image}}"
              (click)="openPopup(image)"/>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
