<mat-sidenav-container
      autosize
      fxLayout="column"
      [ngClass]="this.dark_mode ? 'theme-alternate' : ''"
      class='app-container'>
  <mat-sidenav [(mode)]="navmode" [(opened)]="navopen" class='nav-bar'>
    <div class='nav-heading'>
      <img src="assets/img/profile.jpg" class='profile-pic' />
      <h1>Paul Jordan</h1>
      <span class='sm-link-bar'>
        <a *ngFor="let sm of sm_links"
            mat-list-item
            class="sm-links"
            target="_blank"
            [href]="sm.href">
          <span [class]="sm.icon"></span>
        </a>
      </span>
    </div>

    <mat-nav-list class='nav-list'>
      <a *ngFor="let link of links"
          mat-list-item
          routerLinkActive
          #routerLinkActiveInstance="routerLinkActive"
          [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
          [class.list-item-active]="routerLinkActiveInstance.isActive"
          (click)="closeNav()"
          [routerLink]="[link.route]">
        <mat-icon 
          matListIcon 
          [ngStyle]="{'color': link.color, 'padding-right': '1em' }"
          class="nav-list-icon">{{link.icon}}</mat-icon>
        {{link.title}}
      </a>
    </mat-nav-list>
    <div fxLayout="column"
        fxLayoutAlign="center center"
        class="dark-mode-switch mat-list-item-content">
      <span style='text-center'>
        <mat-icon class='light-mode-label'>wb_sunny</mat-icon>
        <mat-slide-toggle
					[checked]="dark_mode_checked"
					(change)="theme_toggle()">
					<mat-icon>bedtime</mat-icon>
				</mat-slide-toggle>
      </span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>

    <div class='background'></div>
    <button 
        *ngIf="mobile"
        class="navbutton"
        (click)="openNav()"
        mat-icon-button
        color="primary">
      <mat-icon>menu</mat-icon>
    </button>

    <div [@routeAnimations]="outlet.isActivated ?  outlet.activatedRouteData['animation'] : ''" >
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
