@use '~@angular/material' as mat;
@import '../custom-theme.scss';

.navbutton {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
}

.app-container {
  height: 100%;
  width: 100%;
}

.list-item-active {
  background-color: mat.get-color-from-palette($mat-accent, lighter) !important;
}

.profile-pic {
  width: 150px;
  padding: 5px;
  object-fit: cover;
  border-radius: 50%;
}

.sm-link-bar {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: auto;
  padding-bottom: 10px;
}
.sm-links {
  font-size: 1.5em;
  color: mat.get-color-from-palette($mat-accent, main);
  display: inline-block;
  padding: 1px;
}

.nav-heading {
  padding: 0px;
  margin: 0;
  font-weight: bold;
  text-align: center;
  color: mat.get-color-from-palette($mat-primary, lighter);
  background-color: mat.get-color-from-palette($mat-primary, darker);
}

.theme-alternate .list-item-active {
  background-color: mat.get-color-from-palette($mat-accent, darker) !important;
}

.nav-list {
  margin-bottom: 60px;
}

.background {
  background: url(../assets/img/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  z-index: -1;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

.light-mode-label {
	vertical-align: top;
  line-height: 24px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.dark-mode-switch {
  position: absolute;
  height: 50px;
  display: block;
  float: left;
  bottom: 0px;
  width: 100%;
  padding-top: 10px;
  background-color: mat.get-color-from-palette($mat-accent, lighter);
}

.theme-alternate .dark-mode-switch {
  background-color: mat.get-color-from-palette($mat-accent, darker);
}

.theme-alternate .background {
  filter: invert(100%);
}

