
.container {
  width: 80%;
  padding: 60px 20px 20px;
  z-index: 10;
}

.tab-group {
  margin: auto;
  background: white;
  max-width: 1000px;
}

.tab-content {
  padding: 10px;
}

.thumb {
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding: 10px;
}

