@import '../../custom-theme.scss';

.container {
  width: 80%;
  margin: 0 auto;
  padding: 60px 20px 20px;
  height: auto;
}

.pub-category {
  width: 100%;
  max-width: 1000px;
}

mat-expansion-panel {
  mat-expansion-panel-header {
    height: auto !important;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
mat-list {
  mat-list-item {
    height: auto !important;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.pub-list-icon {
  padding-right: 1em;
}

.article-image {
  width: 50px;
  padding: 5px;
  object-fit: cover;
  border-radius: 50%;
}

li {
  
}

/* Temporarily disable animations when transitioning */
/* https://github.com/angular/components/issues/11765 */
::ng-deep .ng-animating div mat-accordion mat-expansion-panel div.mat-expansion-panel-header {
  height: 48px;
}

::ng-deep .ng-animating div mat-accordion mat-expansion-panel div.mat-expansion-panel-content {
  height: 0px;
  visibility: hidden;
}

